.form-update-profile {
  grid-template-columns: 1fr 2fr;
  gap: 1.5rem;
  @include device(t) {
    grid-template-columns: 1fr;
  }
}

.card-datas-profile,
.card-photo-profile {
  padding: 1.75rem;
  border: 1px solid $cor-p6;
  border-radius: 1.5rem;
  animation: fadeInUp 0.6s ease;
}

.card-datas-profile {
  display: grid;
  grid-template-columns: 1fr 1fr;
  @include device(d) {
    grid-template-columns: 1fr;
  }
  @include device(t) {
    grid-template-columns: 1fr 1fr;
  }
  @include device(m) {
    grid-template-columns: 1fr;
  }
}

.card-photo-profile {
  display: flex;
  flex-direction: column;
  align-items: center;
  @include device(m) {
    border: none;
    padding: 0;
  }
}

.img-profile {
  background: url("./../assets/users/user_default.png") center/cover no-repeat;
  width: 220px;
  height: 220px;
  border-radius: 50%;
  object-fit: cover;
  box-shadow: inset 0 0 0 6px $cor-11;
  border: 3px solid $cor-p1;
  // cursor: pointer;
  transition: all 0.3s ease-in-out;
  // &::before {
  //   content: "+";
  //   font-family: "Roboto", sans-serif;
  //   font-weight: 400;
  //   color: rgba($color: $cor-p1, $alpha: 1);
  //   font-size: 10rem;
  //   opacity: 0;
  //   background-color: rgba($color: #000000, $alpha: 0.8);
  //   width: 100%;
  //   height: 100%;
  //   border-radius: 50%;
  //   display: flex;
  //   justify-content: center;
  //   align-items: center;
  //   transition: all 0.3s ease-in-out;
  // }
  &:hover {
    // &::before {
    //   opacity: 1;
    // }
  }
}

.main-informations {
  text-align: center;
  margin-top: 1.5rem;
  h3 {
    margin-bottom: 0.5rem;
  }
  span {
    display: block;
    @include device(t) {
      display: none;
    }
  }
}

.card-datas-profile:first-child,
.card-datas-profile:nth-child(2) {
  margin-bottom: 1.5rem;
}

.datas-section-profile {
  .btn-actions {
    display: flex;
    justify-content: flex-end;
  }
}

.card-body .li-table {
  grid-column: 1/-1;
}
