.header-bg {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background-color: $cor-12;
    z-index: 3;
}

.header {
    max-width: 1240px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    padding: 20px;
    color: $cor-0;
}

.logo {
    display: inline-flex;
    align-items: center;
}

.links-nav-main {
    display: flex;
    flex-wrap: wrap;
    gap: 40px;
    a {
        display: inline-block;
        padding: 12px 0;
    }
}
