.font-1-xs {
    font: 500 1.125em/1.3 'Montserrat', Arial, Helvetica, sans-serif;
}

.font-2-xs {
    font: 400 1.2em/1.4 'Roboto', Arial, Helvetica, sans-serif;
}

.font-3 {
    font-family: 'Orbitron', 'Montserrat', Arial, Helvetica, sans-serif;
}

.font-1-s {
    font: 600 4em/1.1 'Montserrat', Arial, Helvetica, sans-serif;
}

.font-2-s {
    font: 400 1.5em/1.4 'Roboto', Arial, Helvetica, sans-serif;
}
