@mixin font($family, $size: n) {
    @if $family == 1 {
        @if $size == xs {
            font: 500 1.125em/1.3 'Montserrat', Arial, Helvetica, sans-serif;
        } @else if $size == s {
            font: 600 4em/1.1 'Montserrat', Arial, Helvetica, sans-serif;
        }
    } @else if $family == 2 {
        @if $size == xs {
            font: 400 1.2em/1.4 'Roboto', Arial, Helvetica, sans-serif;
        } @else if $size == s {
            font: 400 1.5em/1.4 'Roboto', Arial, Helvetica, sans-serif;
        }
    } @else if $family == 3 {
        font-family: 'Orbitron', 'Montserrat', Arial, Helvetica, sans-serif;
    }
}

.font-1-xs {
    @include font(1, xs);
}

.font-1-s {
    @include font(1, s);
}

.font-2-xs {
    @include font(2, xs);
}

.font-2-s {
    @include font(2, s);
}

.font-3 {
    @include font(3);
}
