.button {
    padding: 8px 24px !important;
    color: var(--cor-p1);
    border: 3px solid var(--cor-p1);
    border-radius: 30px;
    transition: all 0.3s ease-in-out;
    font: 600 1.125rem/1.3 'Montserrat', Arial, Helvetica, sans-serif !important;
}

.button:hover {
    color: var(--cor-p6);
    background-color: var(--cor-p1);
}

.button.btn-primary {
    background: var(--cor-p1);
    color: var(--cor-0);
}

.button.btn-primary:hover {
    background: var(--cor-0);
    color: var(--cor-p1);
}
