/* Tabela */
.table-container {
  grid-column: 1/-1;
  overflow-x: auto;
  scrollbar-width: none;
}

table {
  width: 100%;
  border-collapse: collapse;
  @include device(t) {
    min-width: 600px;
  }
}

thead {
  background: $cor-12;
}

th {
  padding: 20px 24px;
  text-align: left;
  font-weight: 600;
  color: $cor-8;
  text-transform: uppercase;
  letter-spacing: 0.5px;
  @include device(t) {
    padding: 16px 12px;
  }
}

tbody tr {
  border-bottom: 1px solid rgba($color: $cor-7, $alpha: 0.5);
  transition: all 0.3s ease;
}

tbody tr:hover {
  background: $cor-10;
}

thead tr:first-child {
  border-bottom: 1px solid rgba($color: $cor-6, $alpha: 0.5);
}

tbody tr:last-child {
  border-bottom: none;
}

td {
  padding: 24px;
  font-size: 1.125rem;
  color: $cor-3;
  @include device(t) {
    padding: 16px 12px;
  }
}
