.cor-0 {
  color: #fff;
}

.cor-1 {
  color: #f7f7f7;
}

.cor-2 {
  color: #ededed;
}

.cor-3 {
  color: #dedede;
}

.cor-4 {
  color: #ccc;
}

.cor-5 {
  color: #b2b2b2;
}

.cor-6 {
  color: #9c9c9c;
}

.cor-7 {
  color: #717171;
}

.cor-8 {
  color: #595959;
}

.cor-9 {
  color: #404040;
}

.cor-10 {
  color: #2e2e2e;
}

.cor-11 {
  color: #111;
}

.cor-12 {
  color: #000;
}

.cor-p1 {
  color: #39b934;
}

.cor-p2 {
  color: #2ca727;
}

.cor-p3 {
  color: #1e9119;
}

.cor-p4 {
  color: #0e760a;
}

.cor-p5 {
  color: #046000;
}

.cor-p6 {
  color: #034100;
}

.font-1-xs {
  font: 500 1.125em/1.3 "Montserrat", Arial, Helvetica, sans-serif;
}

.font-1-s {
  font: 500 2em/1.3 "Montserrat", Arial, Helvetica, sans-serif;
}

.font-1-xl {
  font: 600 4em/1.1 "Montserrat", Arial, Helvetica, sans-serif;
}

.font-2-xs {
  font: 400 1.2em/1.4 "Roboto", Arial, Helvetica, sans-serif;
}

.font-2-s {
  font: 400 1.5em/1.4 "Roboto", Arial, Helvetica, sans-serif;
}

.font-3 {
  font-family: "Orbitron", "Montserrat", Arial, Helvetica, sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  color: #fff;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
  display: inline-block;
}

img {
  max-width: 100%;
}

.button {
  padding: 8px 24px !important;
  color: #39b934;
  border: 3px solid #39b934;
  border-radius: 30px;
  transition: all 0.3s ease-in-out;
  cursor: pointer;
  font: 500 1.125em/1.3 "Montserrat", Arial, Helvetica, sans-serif;
  font-weight: 600;
  max-width: max-content;
}
.button:hover {
  color: #034100;
  background-color: #39b934;
}
.button.btn-primary {
  background: #39b934;
  color: #fff;
}
.button.btn-primary:hover {
  background: #fff;
  color: #39b934;
}
.button.btn-color-0 {
  color: #fff;
  border-color: #fff;
}
.button.btn-color-0:hover {
  background: #fff;
  color: #39b934;
}

.parallax {
  background: url("../img/academia.jpg") no-repeat center/cover;
  background-attachment: fixed;
}

.parallax-bg {
  background: rgba(0, 0, 0, 0.7);
  padding: 80px 20px;
}

.header-bg {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background-color: #000;
  z-index: 3;
}

.header {
  max-width: 1240px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  padding: 20px;
  color: #fff;
}

.logo {
  display: inline-flex;
  flex: 1;
  align-items: center;
}

.links-nav-main {
  display: flex;
  flex-wrap: wrap;
  gap: 40px;
}
.links-nav-main a {
  display: inline-block;
  padding: 12px 0;
}

.intro-bg {
  background: linear-gradient(#000 60%, #034100);
}

.intro {
  max-width: 1240px;
  padding: 90px 20px 0 20px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: end;
  gap: 40px;
}

.intro-texts {
  padding-bottom: 120px;
}
.intro-texts h1 {
  margin-bottom: 32px;
  max-width: 15ch;
}
.intro-texts p {
  color: #b2b2b2;
  margin-bottom: 24px;
  max-width: 60ch;
}
.intro-texts p span {
  font-weight: 700;
}

.intro-img {
  display: flex;
  justify-content: flex-end;
}

@media (width <= 1000px) {
  .intro-texts {
    padding-bottom: 40px;
  }
  .intro-texts h1 {
    font-size: 3em;
  }
}
@media (width <= 840px) {
  .intro {
    grid-template-columns: 1fr;
  }
  .intro-texts {
    margin: 0 auto;
    display: flex;
    align-items: center;
    flex-direction: column;
    text-align: center;
  }
  .intro-img {
    display: none;
  }
}
.goal {
  max-width: 1240px;
  padding: 120px 20px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 40px;
}

.goal-img {
  max-height: max-content;
  position: relative;
}
.goal-img::before {
  content: "";
  z-index: -1;
  top: -12px;
  left: -12px;
  width: 300px;
  height: 300px;
  background-color: #39b934;
  position: absolute;
}
.goal-img::after {
  content: "";
  background: url("../img/vetores/deco-foto.svg") no-repeat;
  position: absolute;
  bottom: -7px;
  right: -12px;
  width: 227px;
  height: 228px;
}

.goal-texts h2 {
  color: #111;
  margin-bottom: 32px;
  max-width: 15ch;
}
.goal-texts p {
  color: #404040;
  margin-bottom: 24px;
}
.goal-texts p span {
  font-weight: bold;
}

.datas {
  max-width: 1240px;
  padding: 0 20px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  gap: 40px;
}

.equipments-bg {
  background: #f7f7f7;
  padding: 80px 20px;
}

.equipments {
  max-width: 1400px;
  margin: 0 auto;
}

.equipments-header > span {
  color: #b2b2b2;
  text-transform: uppercase;
  display: block;
  text-align: center;
  margin-bottom: 12px;
}
.equipments-header h2 {
  color: #000;
  text-align: center;
  margin-bottom: 40px;
}

.equipments-images #remo, .equipments-images #eliptico, .equipments-images #esteira, .equipments-images #bicicleta {
  width: 0 !important;
  flex: 1 0 auto;
  transition: all 0.5s ease-in-out;
  height: 450px;
  position: relative;
  border-radius: 24px;
  background-size: cover;
  background-position: center;
  overflow: hidden;
}
.equipments-images #remo:hover, .equipments-images #eliptico:hover, .equipments-images #esteira:hover, .equipments-images #bicicleta:hover {
  width: 40% !important;
}

.equipments-images {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 40px;
}
.equipments-images #bicicleta {
  background: url("../img/equipments/bike-1.jpg") no-repeat center/cover;
}
.equipments-images #bicicleta:hover {
  background: url("../img/equipments/bike-2.jpg") no-repeat center/cover;
}
.equipments-images #esteira {
  background: url("../img/equipments/esteira-1.jpg") no-repeat center/cover;
}
.equipments-images #esteira:hover {
  background: url("../img/equipments/esteira-2.jpg") no-repeat center/cover;
}
.equipments-images #eliptico {
  background: url("../img/equipments/eliptico-1.jpg") no-repeat center/cover;
}
.equipments-images #eliptico:hover {
  background: url("../img/equipments/eliptico-2.jpg") no-repeat center/cover;
}
.equipments-images #remo {
  background: url("../img/equipments/remo-1.jpg") no-repeat center/cover;
}
.equipments-images #remo:hover {
  background: url("../img/equipments/remo-2.jpg") no-repeat center/cover;
}
.equipments-images a {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  border-radius: 24px;
  padding: 32px;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  transition: all 0.3s ease-in-out;
  background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0));
}
.equipments-images a h3 {
  text-transform: uppercase;
  font-weight: 600;
}
.equipments-images a p {
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
  color: #dedede;
}
.equipments-images:hover a {
  opacity: 0;
}
.equipments-images:hover a:hover {
  opacity: 1;
  background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.8));
}
.equipments-images:hover a:hover p {
  opacity: 1;
}

.form {
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 20px;
}
.form label {
  display: none;
}
.form input {
  padding: 8px 24px;
  border-radius: 24px;
  font-style: italic;
  outline: none;
  border: 3px solid #fff;
  transition: border-color 0.1s ease-in-out;
}
.form input:focus {
  border-color: #39b934;
}
.form .icon-visibility {
  position: relative;
}
.form .icon-visibility::after {
  content: "";
  background: url("../img/vetores/visibility.svg") no-repeat;
  position: absolute;
  width: 24px;
  height: 24px;
  right: 12px;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
}
.form button {
  background: transparent;
}

.plans-bg {
  background-color: #111;
  padding: 80px 0;
}

.plans .plan-power-img .plan-power, .plans .plan-eco-img .plan-eco {
  display: flex;
  flex-direction: column;
  padding: 90px 40px 40px 40px;
}
.plans .plan-power-img .plan-power h3, .plans .plan-eco-img .plan-eco h3 {
  padding-bottom: 32px;
}
.plans .plan-power-img .plan-power ul, .plans .plan-eco-img .plan-eco ul {
  padding-bottom: 20px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.plans .plan-power-img .plan-power ul li, .plans .plan-eco-img .plan-eco ul li {
  position: relative;
  max-width: max-content;
  display: flex;
  align-items: center;
}

.plans {
  max-width: 1240px;
  margin: 0 auto;
  padding: 0 20px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  position: relative;
}
.plans h2 {
  grid-column: 1/-1;
  text-align: center;
  margin-bottom: 60px;
}
.plans .plan-eco-img {
  position: relative;
}
.plans .plan-eco-img .plan-eco {
  clip-path: polygon(0% 0%, 0% 100%, 85% 100%, 100% 0%);
  background-color: #000;
  transform: translateX(5%);
  height: 100%;
}
.plans .plan-eco-img .plan-eco .price {
  left: 0;
  background: #111;
  border-top-right-radius: 24px;
  border-bottom-right-radius: 24px;
}
.plans .plan-eco-img .plan-eco ul {
  margin-left: 20px;
  flex: 1;
}
.plans .plan-eco-img .plan-eco ul li::before {
  content: "";
  position: absolute;
  width: 12px;
  height: 4px;
  left: -20px;
  background-color: #39b934;
}
.plans .plan-eco-img img {
  position: absolute;
  right: 7%;
  bottom: 0;
}
.plans .plan-power-img {
  position: relative;
}
.plans .plan-power-img .plan-power {
  clip-path: polygon(15% 0%, 0% 100%, 100% 100%, 100% 0%);
  background-color: #39b934;
  transform: translateX(-5%);
  align-items: flex-end;
}
.plans .plan-power-img .plan-power .price {
  right: 0;
  background: #034100;
  border-top-left-radius: 24px;
  border-bottom-left-radius: 24px;
}
.plans .plan-power-img .plan-power ul {
  margin-right: 20px;
  align-items: end;
}
.plans .plan-power-img .plan-power ul li::after {
  content: "";
  position: absolute;
  width: 12px;
  height: 4px;
  right: -20px;
  background-color: #034100;
}
.plans .plan-power-img img {
  position: absolute;
  left: -15%;
  bottom: 0;
}
.plans .price {
  position: absolute;
  padding: 8px 16px;
  top: 16px;
}
.plans .price .monthly {
  font-size: 0.7em;
}

.footer-bg {
  background-color: #000;
  position: relative;
}
.footer-bg::before {
  content: "";
  width: 50%;
  height: 8px;
  background: linear-gradient(to right, rgba(0, 0, 0, 0), #39b934, rgba(0, 0, 0, 0));
  position: absolute;
  margin-top: -4px;
  left: 50%;
  transform: translateX(-50%);
}

.footer {
  max-width: 1240px;
  padding: 80px 20px 40px 20px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 40px;
}
.footer .contact-footer {
  display: flex;
  flex-direction: column;
}
.footer .contact-footer .logo-footer {
  position: relative;
  margin-bottom: 46px;
}
.footer .contact-footer .logo-footer::before {
  content: "";
  width: 32px;
  height: 4px;
  background-color: #39b934;
  position: absolute;
  bottom: -14px;
}
.footer .contact-footer p {
  margin-bottom: 32px;
}
.footer .contact-footer span + span {
  margin-top: 12px;
}
.footer .contact-footer > span {
  position: relative;
  display: flex;
}
.footer .contact-footer > span span {
  margin-right: 8px;
}
.footer .pages-footer {
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.footer .pages-footer h3 {
  margin-bottom: 24px;
}
.footer .pages-footer ul li {
  margin-bottom: 12px;
}
.footer .copy-footer {
  grid-column: 1/-1;
}
.footer .copy-footer p {
  text-align: center;
}

/*# sourceMappingURL=style.css.map */
