main#admin {
  display: grid;
  grid-template-columns: 1fr 4fr;
  @include device(d) {
    grid-template-columns: 1fr;
  }
}

.header-sidenav {
  display: none;
  align-items: center;
  background-color: $cor-12;
  height: 80px;
  position: sticky;
  top: 0;
  grid-column: 1 / -1;
  z-index: 10000;
  @include device(d) {
    display: flex;
  }
}

.div-hamburguer-sidenav {
  margin-left: 1.25rem;
  display: flex;
  justify-content: center;
  .icon-hamburguer-sidenav {
    cursor: pointer;
    width: 24px;
    height: 4px;
    border-radius: 24px;
    background-color: $cor-0;
    position: relative;
    transition: all 0.3s ease-in-out;
    &::before,
    &::after {
      content: "";
      display: block;
      width: 32px;
      height: 4px;
      border-radius: 24px;
      background-color: $cor-0;
      position: absolute;
      left: 0;
      transition: all 0.3s ease-in-out;
    }
    &::before {
      top: -8px;
    }
    &::after {
      bottom: -8px;
    }
  }
}

.active-icon {
  height: 0 !important;
  margin-top: 8px;
  &::before {
    transform: rotate(-45deg);
  }
  &::after {
    transform: rotate(45deg);
    top: -8px;
  }
}

// Sidenav
.side-nav-admin {
  position: sticky;
  max-height: 100vh;
  left: 0;
  top: 0;
  bottom: 0;
  display: flex;
  flex-direction: column;
  background: $cor-12;
  transition: all 0.3s ease-in-out;
  ul {
    height: 100%;
    display: flex;
    flex-direction: column;
    position: relative;
    li a {
      display: flex;
      align-items: center;
      margin: 0.25rem 0.25rem 0.25rem 0;
      padding: 1.25rem 2.5rem;
      transition: background-color 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
      border-radius: 0 10px 10px 0;
      &:hover,
      &.active-link-admin {
        background-color: rgba($color: $cor-p1, $alpha: 0.1);
        box-shadow: inset 3px 0 0 $cor-p1;
      }
      svg {
        margin-right: 0.625rem;
        fill: $cor-p1;
      }
    }
    li:last-child {
      position: absolute;
      bottom: 0;
      left: 0;
      right: 0;
    }
  }
  @include device(d) {
    top: 80px;
    height: calc(100vh - 80px);
    position: fixed;
    transform: translateX(-100%);
    z-index: 10000;
  }
}

.active-sidenav {
  transform: translateX(0);
}

.body-section {
  min-height: 100vh;
  background: $cor-11;
  padding: 2.5rem 2.5rem;
  display: none;
  &.body-section-active {
    display: block;
  }
  @include device(m) {
    padding: 1.25rem 1.25rem;
  }
}

.header-pages-admin {
  display: flex;
  gap: 1.25rem;
  flex-wrap: wrap;
  width: 100%;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 2.5rem;
}

.btn-add-item {
  display: flex;
  align-items: center;
  &:hover {
    svg {
      fill: $cor-p1;
    }
  }
  svg {
    margin-right: 0.625em;
    fill: $cor-p6;
    transition: fill 0.3s ease-in-out;
  }
}

.equips-body-items {
  .form-container-modal {
    padding: 1.25rem;
  }
}

.users-body-items,
.prac-body-items {
  .form-container-modal {
    overflow-y: scroll;
    padding: 2.5rem;
    scrollbar-width: none;
    &::-webkit-scrollbar {
      display: none;
    }
    &.active-form-modal {
      align-items: flex-start;
    }
  }
}

#users-list,
#prac-list {
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
}

.list-items {
  display: grid;
  gap: 2.5rem 1.25rem;
  grid-template-columns: repeat(auto-fit, minmax(500px, 1fr));
  @include device(t) {
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  }
}

// Treinos
.exer-list {
  grid-column: 1/-1;
  .div-form-exercise {
    border: 2px solid $cor-p1;
    border-radius: 24px;
    padding: 1.25rem;
    margin-bottom: 1.25rem;
    display: flex;
    flex-wrap: wrap;
    @include device(t) {
      flex-direction: column;
    }
    .form-group {
      flex: 1;
    }
    .btn-remove-exer-form {
      min-width: 100%;
    }
  }
}

.div-btn-add-exercise {
  grid-column: 1/-1;
  margin-bottom: 1.25rem;
}

@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translateY(20px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}
