.datas-parallax {
    background: url('../img/academia.jpg') no-repeat center / cover;
    background-attachment: fixed;
}

.datas-bg {
    background: rgba(0, 0, 0, 0.7);
    padding: 80px 20px;
}

.datas {
    max-width: 1240px;
    padding: 0 20px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    gap: 40px;
}
