.equipments-bg {
    background: $cor-1;
    padding: 80px 20px;
}

.equipments {
    max-width: 1400px;
    margin: 0 auto;
}

.equipments-header {
    > span {
        color: $cor-5;
        text-transform: uppercase;
        display: block;
        text-align: center;
    }
    h2 {
        color: $cor-12;
        text-align: center;
        margin-bottom: 40px;
    }
}

.equipments-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 40px;
    li {
        border-radius: 50px;
        width: 0 !important;
        flex: 1 0 auto;
        transition: all 0.5s ease-in-out;
        height: 400px;
        position: relative;
        background-size: cover;
        background-position: center;
        overflow: hidden;
    }
    li#foto-01 {
        background: url('../../img/academia.jpg');
    }
    a {
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        border-radius: 50px;
    }
}
