.intro-bg {
    background: linear-gradient($cor-12 60%, $cor-p6);
}

.intro {
    max-width: 1240px;
    padding: 100px 20px 0 20px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: end;
    gap: 40px;
    @include device(t) {
        grid-template-columns: 1fr;
    }
}

.intro-texts {
    padding-bottom: 120px;
    @include device(d) {
        padding-bottom: 60px;
    }
    h1 {
        margin-bottom: 32px;
        max-width: 15ch;
        @include device(d) {
            max-width: max-content;
        }
    }
    p {
        color: $cor-5;
        margin-bottom: 24px;
        max-width: 60ch;
        span {
            font-weight: 700;
        }
    }
}

.intro-img {
    display: flex;
    justify-content: flex-end;
    @include device(t) {
        display: none;
    }
}
