.plans-bg {
    background-color: $cor-11;
}

%plans-default {
    display: flex;
    flex-direction: column;
    padding: 90px 40px 40px 40px;
    h3 {
        padding-bottom: 32px;
        @include device(m) {
            width: 100%;
            text-align: center;
        }
    }
    ul {
        padding-bottom: 20px;
        display: flex;
        flex-direction: column;
        gap: 10px;
        li {
            position: relative;
            max-width: max-content;
            display: flex;
            align-items: center;
        }
    }
}

.plans {
    max-width: 1240px;
    margin: 0 auto;
    padding: 80px 20px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    position: relative;
    @include device(d) {
        padding: 40px 20px;
    }
    @include device(t) {
        grid-template-columns: 1fr;
        gap: 20px;
    }
    h2 {
        grid-column: 1 / -1;
        text-align: center;
        margin-bottom: 60px;
        @include device(d) {
            margin-bottom: 32px;
        }
    }
    .plan-eco-img {
        position: relative;
        @include device(t) {
            max-width: 80%;
            left: 50%;
            transform: translateX(-50%);
        }
        .plan-eco {
            clip-path: polygon(0% 0%, 0% 100%, 85% 100%, 100% 0%);
            background-color: $cor-12;
            transform: translateX(5%);
            height: 100%;
            @extend %plans-default;
            @include device(t) {
                clip-path: none;
                transform: translateX(0);
                border-radius: 24px;
            }
            .price {
                left: 0;
                background: $cor-11;
                border-top-right-radius: 24px;
                border-bottom-right-radius: 24px;
            }
            ul {
                margin-left: 20px;
                flex: 1;
                li {
                    &::before {
                        content: '';
                        position: absolute;
                        width: 12px;
                        height: 4px;
                        left: -20px;
                        background-color: $cor-p1;
                    }
                }
            }
        }
        img {
            position: absolute;
            right: 7%;
            bottom: 0;
            @include device(x) {
                display: none;
            }
        }
    }
    .plan-power-img {
        position: relative;
        @include device(t) {
            grid-row: 2;
            max-width: 80%;
            left: 50%;
            transform: translateX(-50%);
        }
        .plan-power {
            clip-path: polygon(15% 0%, 0% 100%, 100% 100%, 100% 0%);
            background-color: $cor-p1;
            transform: translateX(-5%);
            @extend %plans-default;
            align-items: flex-end;
            @include device(t) {
                clip-path: none;
                transform: translateX(0);
                align-items: flex-start;
                border-radius: 24px;
            }
            .price {
                right: 0;
                background: $cor-p6;
                border-top-left-radius: 24px;
                border-bottom-left-radius: 24px;
                @include device(t) {
                    left: 0;
                    right: auto;
                    border-top-right-radius: 24px;
                    border-bottom-right-radius: 24px;
                    border-top-left-radius: 0;
                    border-bottom-left-radius: 0;
                }
            }
            ul {
                margin-right: 20px;
                align-items: end;
                @include device(t) {
                    align-items: start;
                    margin-right: 0;
                    margin-left: 20px;
                }
                li {
                    text-align: right;
                    @include device(t) {
                        text-align: left;
                        &::before {
                            content: '';
                            position: absolute;
                            width: 12px;
                            height: 4px;
                            left: -20px;
                            background-color: $cor-p6;
                        }
                    }
                    &::after {
                        content: '';
                        position: absolute;
                        width: 12px;
                        height: 4px;
                        right: -20px;
                        background-color: $cor-p6;
                        @include device(t) {
                            display: none;
                        }
                    }
                }
            }
        }
        img {
            position: absolute;
            left: -15%;
            bottom: 0;
            @include device(x) {
                display: none;
            }
        }
    }
    .price {
        position: absolute;
        padding: 8px 16px;
        top: 16px;
        .monthly {
            font-size: 0.7em;
        }
    }
}

// @media screen and (width <= 1250px) {
//     .plans {
//         align-items: center;
//         gap: 20px;
//         .plan-eco-img {
//             height: max-content;
//             .plan-eco {
//                 clip-path: none;
//                 transform: translateX(0);
//                 border-radius: 24px;
//             }
//             img {
//                 display: none;
//             }
//         }
//         .plan-power-img {
//             .plan-power {
//                 clip-path: none;
//                 transform: translateX(0);
//                 border-radius: 24px;
//             }
//             img {
//                 display: none;
//             }
//         }
//     }
// }
